*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e8e5c2;
}
nav{
    background-image: linear-gradient(180deg, #3cd782 50%, #1a5c38);
    height: 30vh;
}
#tltTM{
    color: white;
    text-align: center;
    padding: 4.5%;
    font-family: Arial, Helvetica, sans-serif;
}
#txtPM{
    margin-top: -35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

#sec1{
    display: flex;
    list-style: none;
    margin-top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-indent: 20px;
}
#sec1:hover{
    cursor: pointer;
}

/* MAIN */

#container{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    height: 100%;
    width: 50%;
    background-color: white;
}